---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hux - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/action.gif">
				<h1>Just</h1>
				<p>一个 Android developer</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">前金所 (Android客户端)</h2>
							<time>2016.05</time>
							<img src="images/qhfax.jpg">
							<ul>
								<li>
									一个金融理财类的应用
								</li>
								<li class="skill">
									<span><b>Android</b></span>
									<span class="i-android"></span>
									<span class="link"><a target="_blank" href="https://qhfax.com">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
				{% if site.disqus_username %}
<!-- disqus 评论框 start -->
			<div class="comment">
   			 <div id="disqus_thread" class="disqus-thread">
    				</div>
					</div>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.disqus_username %}
	<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
		{% endif %}
	</body>
</html>
